<!-- ========= PRESENTATION ========= -->
%header#header-services
  .jumbotron.services-image
    .container
      .row
        .col-sm-12.padding-top
          %h2
            "The only advice I can give that I guarantee is true is that you'll never succeed
            unless you try. Just please start. You don't need anyone's permission - certanly
            not mine."
          %p.text-right Alexis Ohanian.

<!--============= ALL SERVICES =============-->
%section.intense-gray-bg.padding-top-bottom
  .container
    - @services.each do |service|
      .row.gray-bg.row-btm20
        .col-md-3.nopadding-left.nopadding-right
          = image_tag service.images.active.first.url, class: 'img img-responsive', alt: ''
        .col-md-9
          %h2= link_to service.title, service_path(service)
          %p= service.description
    .col-md-6.col-md-offset-3.text-center
      = paginate @services, use_page_one_param: true
