### API CREDENTIALS ###

# DEVISE
DEVISE_SECRET_KEY=""

# GITHUB
GITHUB_KEY=""
GITHUB_SECRET=""

# LINKEDIN
LINKEDIN_KEY=""
LINKEDIN_SECRET=""

# DEVELOPMENT_SECRET_KEY_BASE
DEVELOPMENT_SECRET_KEY_BASE=""
TEST_SECRET_KEY_BASE=""
SECRET_KEY_BASE=""

# MAILER CONFIGURATION FOR GMAIL
ADDRESS_MAILER="smtp.gmail.com"
DOMAIN_MAILER="gmail.com"
USERNAME_MAILER=""
PASSWORD_MAILER="gmail password goes here"

# PEPPER
PEPPER=""

# CLOUD FRONT ENDPOINT
CLOUDFRONT_ENDPOINT=""

### DATABASE ###
DATABASE_PASS_DEV=""
DATABASE_USER_DEV=""
DATABASE_TEST_NAME=""
DATABASE_DEVELOPMENT_NAME=""

# SEEDS INFO
ADMIN_USERNAME=""
ADMIN_PASSWORD=""
IMAGE_SEEDS="some url of an image to populate"
