= render "shared/header"

<!-- ========= MANAGEMENT CONSOLE ========= -->
<!-- TITLE -->
%section#management_title.container.padding-top
  .row
    .col-md-8.col-md-offset-2
      %h1.text-center Management Console

<!-- PROFILE -->
%section#management_profile.container.padding-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Profile

<!-- USERS -->
%section#management_users.container.padding-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Users

<!-- SERVICES -->
%section#management_services.container.padding-top-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Services

<!-- PORTFOLIO -->
%section#management_portfolio.container.padding-top-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Portfolio

<!-- ARTICLES -->
%section#management_articles.container.padding-top-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Articles

<!-- COMMENTS -->
%section#management_comments.container.padding-top-bottom
  .row
    .col-md-8.col-md-offset-2
      %h2.text-center Comments

