%p
  %strong Commenter:
  = comment.commenter
%p
  %strong Comment:
  = comment.body

- if user_signed_in? and comment.user_id == current_user.try(:id)
  %p
    = link_to 'Destroy Comment', [comment.article, comment], method: :delete,
      data: { confirm: 'Are you sure?' }
