<!-- ========= FOOTER ========= -->
%footer.dark-bg.light-typo.navbar.navbar-fixed-bottom
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %ul.social-links
          - social_links.each do |link|
            - cache link do
              %li
                = link_to link.url, target: '_blank' do
                  %i{class: "fa fa-#{link.social_media} fa-fw"}
