<!-- ========= FOOTER ========= -->
%footer.dark-bg.light-typo.navbar.navbar-fixed-bottom
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %ul.social-links
          - social_links.each do |admin_link|
            - cache admin_link do
              %li
                = link_to admin_link.url, target: '_blank' do
                  %i{class: "fab fa-#{admin_link.link.social_media} fa-fw"}
