<!-- ========= FOOTER ========= -->
%footer.dark-bg.light-typo.navbar.navbar-fixed-bottom
  .container
    .col-sm-12.text-center
      %ul.social-links
        - @social_links.each do |link|
          - cache link do
            %li
              %a{href: "#{link.url}",  target: "_blank"}>
                %i{class: "fa fa-#{link.name} fa-fw"}
