<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Message from: <%= @contact.name %><br></p>
    <p>Email: <%= @contact.email %><br></p>
    <p>Message: <%= @contact.message  %><br></p>
  </body>
</html>
