<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @contact.name %>,</h1>
    <p>thank you for contacting me!<br></h1>
    <p>I will be back to you in no time!<br></p>
    <p>Talk you soon.<br></p>
    <p>Nico.</p>
  </body>
</html>
