#header-articles{
  .jumbotron {
    position: relative;
    width: 100%;
    height: 25.000em;
    background-size: cover;
    overflow: hidden;
  }

	p {
		font-size:1.5em;
		color: #fff
	}

	h2 {
		font-size:2.500em;
		color: #fff
	}

  .jumbotron.articles-image {
    position: relative;
    background-image:url(../assets/articles.jpg);
    background-position:50% 50%;
    background-size: cover;
    margin-bottom:0;
    height: 25.000em;
  }

  .jumbotron.articles-image:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .4;
  }
}

#article{
	.img-circle {
		border-radius: 50%;
	}
}
