/*Set variable to collapse navbar*/
@media (max-width: 1000px) {
	.navbar-header {
		float: none;
	}

	.navbar-left,.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 0.63em 0 rgba(255,255,255,0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 0.063em;
	}

	.navbar-collapse.collapse {
		display: none!important;
	}

	.navbar-nav {
		float: none!important;
		margin-top: 0.469em;
	}

	.navbar-nav>li {
		float: none;
		text-align: center;
	}

	.navbar-nav>li>a {
		padding-top: 0.625em;
		padding-bottom: 0.625em;
	}

	.collapse.in{
		display:block !important;
	}
}

#main-nav {
  font-size:1.5em;
}

/*-----Main Styles------*/
html,
body {
  height: 100%;
}

body{
	font-family: 'Titillium Web', sans-serif;
	font-size:1.625em;
	color:#3a3c4a;
	font-weight:300;
	overflow-x:hidden;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Roboto Slab',serif;
  font-weight:400;
  letter-spacing:0.02em;
  margin:0 0 1.250em;
}

p {
	font-family: 'Roboto Slab',serif;
  font-weight:400;
  font-size:1.625em;
  line-height:1.500em;
  font-weight:300;
  margin-bottom:1.250em;
}

.lead {
  font-size:1.650em;
  line-height:1.750em;
  font-weight:100;
  letter-spacing:0.02em;
  margin-top:2.500em;
  margin-bottom:2.500em;
}

a,
a:hover,
a:focus {
  outline:none !important;
  text-decoration:none;
}

a {
	font-family: 'Roboto Slab',serif;
  font-weight:400;
  color:#38A5DB;
  text-decoration: none;
}

a:hover,
a:focus {
  color:#38A5DB;
  text-decoration: underline;
}

a:focus,
.btn:focus {
  outline: none;
}

.color-bg a{
	color:#fff;
	text-decoration: underline;
}

.color-bg a:hover,
.color-bg a:focus {
  color:#fff;
  text-decoration: none;
}

.primary {
	color:#38A5DB;
}

/*---Main Layout Styles---*/
.row-btm0{margin-bottom:0;}
.row-btm5{margin-bottom:0.313em;}
.row-btm10{margin-bottom:0.625em;}
.row-btm20{margin-bottom:1.250em;}
.row-btm30{margin-bottom:1.875em;}
.row-btm40{margin-bottom:2.500em;}
.row-btm50{margin-bottom:3.125em;}
.row-btm60{margin-bottom:3.750em;}
.row-btm70{margin-bottom:4.375em;}
.row-btm80{margin-bottom:5.000em;}
.row-btm90{margin-bottom:5.625em;}
.row-btm100{margin-bottom:6.250em;}
.row-btm110{margin-bottom:6.875em;}
.row-btm120{margin-bottom:7.500em;}
.row-btm130{margin-bottom:8.125em;}
.row-btm140{margin-bottom:8.750em;}

.nopadding-left {
  padding-left:0;
}

.nopadding-right {
  padding-right:0;
}

.img-center{
  margin:0 auto;
}

.padding-top-bottom {
  padding:6.250em 0;
}

.padding-top {
  padding:6.250em 0 0;
}

.section-header {
  margin-bottom:5.000em;
}

.section-header h1{
  font-size:3.000em;
  font-weight:600;
  letter-spacing:0.05em;
}

/*----- Buttons ------*/
.black-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.000em;
    margin: 0.250em 0.125em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.white-to-black {
		border-radius: 0.750em;
    background-color: white;
    color: black;
		border: 0.125em solid white;
}

.white-to-black:hover {
    background-color: #1D2026;
    color: white;
		border: 0.125em solid white;
}

.black-to-white {
    background-color: #1D2026;
    font-weight:600;
    color: white;
		border: 0.125em solid #1D2026;
}

.black-to-white:hover {
    background-color: white;
    color: #1D2026;
		border: 0.125em solid #1D2026;
}

.no_decoration {
	text-decoration: none !important;
}

/*-----Colors-----*/
.white-bg{
  background:#fff;
}

.intense-gray-bg{
  background:#e1e1e1;
}

.gray-bg{
  background:#f2f2f2;
}

.color-bg{
  background:#38A5DB;
}

.dark-bg{
  background:#1D2026;
}

.light-typo {
  color:#fff;
}

.color-bg.light-typo .section-title:after{
	background:#fff;
}


/*-----Footer Styles------*/
.social-links {
  list-style:none;
  margin:0;
  padding:0;
  margin-bottom:1.250em;
  margin-top:1.250em;
}

.social-links li{
  display:inline-block;
  margin:0 0.313em;
  border-radius:0.188em;
  box-shadow:0 0.250em 0 transparent;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.social-links li a {
  display:block;
  color:#fff;
  color:#38A5DB;
  font-size:18px;
  width:2.500em;
  height:2.500em;
  line-height:2.500em;
  text-align:center;
  background:rgba(0,0,0,0.2);
  border-radius:50%;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.social-links li a:hover {
  color:#fff;
  background:#38A5DB;
}

/*Links to all*/

#all-works, #all-articles {
	padding-top: 1.250em;
}
