/*Set variable to collapse navbar*/
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }

  .navbar-left,.navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 0.63em 0 rgba(255,255,255,0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 0.063em;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 0.469em;
  }

  .navbar-nav>li {
    float: none;
    text-align: center;
  }

  .navbar-nav>li>a {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
  }

  .collapse.in{
    display:block !important;
  }
}

#main-nav {
  font-size:1.5em;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-tabs{
  border-bottom: 0;
}

/*-----Main Styles------*/
html,
body {
  height: 100%;
  padding-top: 2em;
}

body{
  font-family: 'Titillium Web', sans-serif;
  font-size:1.625em;
  color:#3a3c4a;
  font-weight:300;
  overflow-x:hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Roboto Slab',serif;
  font-weight:400;
  letter-spacing:0.02em;
  margin:0 0 1.250em;
}

p {
  font-family: 'Roboto Slab',serif;
  font-weight:400;
  font-size:1.625em;
  line-height:1.500em;
  font-weight:300;
  margin-bottom:1.250em;
}

.lead {
  font-size:1.650em;
  line-height:1.750em;
  font-weight:100;
  letter-spacing:0.02em;
  margin-top:2.500em;
  margin-bottom:2.500em;
}

a,
a:hover,
a:focus {
  outline:none !important;
  text-decoration:none;
}

a {
  font-family: 'Roboto Slab',serif;
  font-weight:400;
  color:#38A5DB;
  text-decoration: none;
}

a:hover,
a:focus {
  color:#38A5DB;
  text-decoration: underline;
}

a:focus,
.btn:focus {
  outline: none;
}

.color-bg a{
  color:#fff;
  text-decoration: underline;
}

.color-bg a:hover,
.color-bg a:focus {
  color:#fff;
  text-decoration: none;
}

.primary {
  color:#38A5DB;
}

/*---Main Layout Styles---*/
.row-btm0{margin-bottom:0;}
.row-btm5{margin-bottom:0.313em;}
.row-btm10{margin-bottom:0.625em;}
.row-btm20{margin-bottom:1.250em;}
.row-btm30{margin-bottom:1.875em;}
.row-btm40{margin-bottom:2.500em;}
.row-btm50{margin-bottom:3.125em;}
.row-btm60{margin-bottom:3.750em;}
.row-btm70{margin-bottom:4.375em;}
.row-btm80{margin-bottom:5.000em;}
.row-btm90{margin-bottom:5.625em;}
.row-btm100{margin-bottom:6.250em;}
.row-btm110{margin-bottom:6.875em;}
.row-btm120{margin-bottom:7.500em;}
.row-btm130{margin-bottom:8.125em;}
.row-btm140{margin-bottom:8.750em;}

.row-top0{margin-top:0;}
.row-top5{margin-top:0.313em;}
.row-top10{margin-top:0.625em;}
.row-top20{margin-top:1.250em;}
.row-top30{margin-top:1.875em;}
.row-top40{margin-top:2.500em;}
.row-top50{margin-top:3.125em;}
.row-top60{margin-top:3.750em;}
.row-top70{margin-top:4.375em;}
.row-top80{margin-top:5.000em;}
.row-top90{margin-top:5.625em;}
.row-top100{margin-top:6.250em;}
.row-top110{margin-top:6.875em;}
.row-top120{margin-top:7.500em;}
.row-top130{margin-top:8.125em;}
.row-top140{margin-top:8.750em;}

.row-right0{margin-right:0;}
.row-right5{margin-right:0.313em;}
.row-right10{margin-right:0.625em;}
.row-right20{margin-right:1.250em;}
.row-right30{margin-right:1.875em;}
.row-right40{margin-right:2.500em;}
.row-right50{margin-right:3.125em;}
.row-right60{margin-right:3.750em;}
.row-right70{margin-right:4.375em;}
.row-right80{margin-right:5.000em;}
.row-right90{margin-right:5.625em;}
.row-right100{margin-right:6.250em;}
.row-right110{margin-right:6.875em;}
.row-right120{margin-right:7.500em;}
.row-right130{margin-right:8.125em;}
.row-right140{margin-right:8.750em;}

.row-left0{margin-left:0;}
.row-left5{margin-left:0.313em;}
.row-left10{margin-left:0.625em;}
.row-left20{margin-left:1.250em;}
.row-left30{margin-left:1.875em;}
.row-left40{margin-left:2.500em;}
.row-left50{margin-left:3.125em;}
.row-left60{margin-left:3.750em;}
.row-left70{margin-left:4.375em;}
.row-left80{margin-left:5.000em;}
.row-left90{margin-left:5.625em;}
.row-left100{margin-left:6.250em;}
.row-left110{margin-left:6.875em;}
.row-left120{margin-left:7.500em;}
.row-left130{margin-left:8.125em;}
.row-left140{margin-left:8.750em;}

.nopadding-left {padding-left:0;}
.padding-left-5{padding-left:0.313em;}
.padding-left-10{padding-left:0.625em;}
.padding-left-20{padding-left:1.250em;}
.padding-left-30{padding-left:1.875em;}
.padding-left-40{padding-left:2.500em;}
.padding-left-50{padding-left:3.125em;}
.padding-left-60{padding-left:3.750em;}
.padding-left-70{padding-left:4.375em;}
.padding-left-80{padding-left:5.000em;}
.padding-left-90{padding-left:5.625em;}
.padding-left-100{padding-left:6.250em;}
.padding-left-110{padding-left:6.875em;}
.padding-left-120{padding-left:7.500em;}
.padding-left-130{padding-left:8.125em;}
.padding-left-140{padding-left:8.750em;}

.nopadding-right {padding-right:0;}
.padding-right-5{padding-right:0.313em;}
.padding-right-10{padding-right:0.625em;}
.padding-right-20{padding-right:1.250em;}
.padding-right-30{padding-right:1.875em;}
.padding-right-40{padding-right:2.500em;}
.padding-right-50{padding-right:3.125em;}
.padding-right-60{padding-right:3.750em;}
.padding-right-70{padding-right:4.375em;}
.padding-right-80{padding-right:5.000em;}
.padding-right-90{padding-right:5.625em;}
.padding-right-100{padding-right:6.250em;}
.padding-right-110{padding-right:6.875em;}
.padding-right-120{padding-right:7.500em;}
.padding-right-130{padding-right:8.125em;}
.padding-right-140{padding-right:8.750em;}

.nopadding-top {padding-top:0;}
.padding-top-5{padding-top:0.313em;}
.padding-top-10{padding-top:0.625em;}
.padding-top-20{padding-top:1.250em;}
.padding-top-30{padding-top:1.875em;}
.padding-top-40{padding-top:2.500em;}
.padding-top-50{padding-top:3.125em;}
.padding-top-60{padding-top:3.750em;}
.padding-top-70{padding-top:4.375em;}
.padding-top-80{padding-top:5.000em;}
.padding-top-90{padding-top:5.625em;}
.padding-top-100{padding-top:6.250em;}
.padding-top-110{padding-top:6.875em;}
.padding-top-120{padding-top:7.500em;}
.padding-top-130{padding-top:8.125em;}
.padding-top-140{padding-top:8.750em;}

.nopadding-bottom {padding-bottom:0;}
.padding-bottom-5{padding-bottom:0.313em;}
.padding-bottom-10{padding-bottom:0.625em;}
.padding-bottom-20{padding-bottom:1.250em;}
.padding-bottom-30{padding-bottom:1.875em;}
.padding-bottom-40{padding-bottom:2.500em;}
.padding-bottom-50{padding-bottom:3.125em;}
.padding-bottom-60{padding-bottom:3.750em;}
.padding-bottom-70{padding-bottom:4.375em;}
.padding-bottom-80{padding-bottom:5.000em;}
.padding-bottom-90{padding-bottom:5.625em;}
.padding-bottom-100{padding-bottom:6.250em;}
.padding-bottom-110{padding-bottom:6.875em;}
.padding-bottom-120{padding-bottom:7.500em;}
.padding-bottom-130{padding-bottom:8.125em;}
.padding-bottom-140{padding-bottom:8.750em;}

.img-center{margin:0 auto;}

.padding-top-bottom {padding:6.250em 0;}

.padding-form {padding:3em 0 6.250em 0;}

.padding-top {padding:6.250em 0 0;}

.padding-bottom {padding:0 0 6.250em 0;}

.section-header {
  margin-bottom:5.000em;
}

.section-header h1{
  font-size:3.000em;
  font-weight:600;
  letter-spacing:0.05em;
}

/*----- Buttons ------*/
.black-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.000em;
  margin: 0.250em 0.125em;
  transition-duration: 0.4s;
  cursor: pointer;
}

.white-to-black {
  border-radius: 0.750em;
  background-color: white;
  color: black;
  border: 0.125em solid white;
}

.white-to-black:hover {
  background-color: #1D2026;
  color: white;
  border: 0.125em solid white;
}

.black-to-white {
  background-color: #1D2026;
  font-weight:600;
  color: white;
  border: 0.125em solid #1D2026;
}

.black-to-white:hover {
  background-color: white;
  color: #1D2026;
  border: 0.125em solid #1D2026;
}

.no_decoration {
  text-decoration: none !important;
}

/*-----Colors-----*/
.white-bg{
  background:#fff;
}

.intense-gray-bg{
  background:#e1e1e1;
}

.gray-bg{
  background:#f2f2f2;
}

.color-bg{
  background:#38A5DB;
}

.dark-bg{
  background:#1D2026;
}

.light-typo {
  color:#fff;
}

.color-bg.light-typo .section-title:after{
  background:#fff;
}


/*-----Footer Styles------*/
.social-links {
  list-style:none;
  margin:0;
  padding:0;
  margin-bottom:1.250em;
  margin-top:1.250em;

  .fa-freelancer:before {
    font-family: "Arial";
    font-weight: bold;
    content: 'Up';
  }
}

.social-links li{
  display:inline-block;
  margin:0 0.313em;
  border-radius:0.188em;
  box-shadow:0 0.250em 0 transparent;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.social-links li a {
  display:block;
  color:#fff;
  color:#38A5DB;
  font-size:18px;
  width:2.500em;
  height:2.500em;
  line-height:2.500em;
  text-align:center;
  background:rgba(0,0,0,0.2);
  border-radius:50%;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.social-links li a:hover {
  color:#fff;
  background:#38A5DB;
}

/*Links to all*/
#all-works, #all-articles {
  padding-top: 1.250em;
}

/*login register modal*/
#title-label{
  font-family: 'Roboto Slab',serif;
  font-size: 4em;
}

/* profile image */
#profile-menu
{
  a{
    height: 2.2em;
    width: 2.3em;
    padding: 0;
   img{
      width: 100%;
      height: 100%;
    }
  }
}

#profile-options{
  a{
    width: 100%;
    padding: 0.188em 1.250em;
  }
}

#max-width-textarea{
  textarea {
    width: 100%;
    height: 10em;
  }
}

#management-buttons-right{
  padding-right: 0;
  text-align: right;
  a {
    margin-bottom: .5em;
  }
}

#management-buttons-left{
  a {
    margin-bottom: .5em;
  }
}
