/*-----Main Styles-----*/
body{
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
    color:#3a3c4a;
    font-weight:300;
    overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto Slab',serif;
    font-weight:400;
    letter-spacing:0.02em;
    margin:0 0 20px;
}

p {
    font-size:18px;
    line-height:24px;
    font-weight:300;
    margin-bottom:20px;
}

.lead {
    font-size:20px;
    line-height:28px;
    font-weight:100;
    letter-spacing:0.02em;
    margin-top:40px;
    margin-bottom:40px;
}

a,
a:hover,
a:focus {
    outline:none !important;
    text-decoration:none;
}

a {
  color:#38A5DB;
  text-decoration: none;
}

a:hover,
a:focus {
  color:#38A5DB;
  text-decoration: underline;
}

a:focus,
.btn:focus {
  outline: none;
}

.color-bg a{
    color:#fff;
    text-decoration: underline;
}

.color-bg a:hover,
.color-bg a:focus {
  color:#fff;
  text-decoration: none;
}

.primary {
    color:#38A5DB;
}

/*---Main Layout Styles---*/
.img-center{
    margin:0 auto;
}

.padding-top-bottom {
    padding:100px 0;
}

.padding-top {
    padding:100px 0 0;
}

.navbar {
    margin:0;
    border-radius:0;
}

.section-header {
    margin-bottom:80px;
}

.section-header h1{
    font-size:48px;
    font-weight:600;
    letter-spacing:0.05em;
}

/*-----Buttons-----*/
.btn-meflat {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px 30px;
    display: inline-block;
    margin:20px 0;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    line-height:28px;
    height:52px;
    outline: none;
    position: relative;
    background: #38A5DB;
    color: #fff;
    box-shadow: none;
    border-radius: 52px;
    opacity:0.8;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-meflat:hover,
.btn-meflat:focus,
.btn-meflat:active {
    color: #fff;
    opacity:1;
    text-decoration: none;
}

.btn-meflat.white:hover,
.btn-meflat.white:focus,
.btn-meflat.white:active {
    top:0;
    text-decoration: none;
}

.btn-meflat.icon-left [class*=fa]{
    margin-right:10px;
}

.btn-meflat.icon-right [class*=fa]{
    margin-left:10px;
}

.btn-blog {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: none !important;
    -webkit-text-shadow:none !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    letter-spacing: 1px;
}

.btn-blog:hover,.btn-blog:focus{
    outline: none;
    color:#fff;
}

.btn-blog-lg {
    padding: 14px 28px 13px 28px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-blog-border-white{
    border: 1px solid #fff;
    color:#fff;

}

.btn-blog-border-white:hover{
    color:#333;
    border-color: #fff;
    background-color: #fff;
}

/*-----Colors-----*/
.white-bg{
    background:#fff;
}

.gray-bg{
    background:#f2f2f2;
}

.color-bg{
    background:#38A5DB;
}

.dark-bg{
    background:#1D2026;
}

.light-typo {
    color:#fff;
}

.color-bg.light-typo .section-title:after{
    background:#fff;
}

/*----Navigation Styles----*/
#main-nav .navbar-toggle{
    border:1px solid rgba(255,255,255,0.5);
    border-radius:0;
}

#main-nav .icon-bar {
    background:#fff;
}

.navbar-nav {
    float:none;
    text-align:center;
}

#main-nav .navbar-nav li {
    display:inline-block;
    float:none;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    position:relative;
    padding:0 10px;
    font-size:42px;
    line-height:54px;
    font-family: 'Roboto Slab',serif;
    font-weight:600;
    color:#777;
    font-variant:small-caps;
    height:auto;
    letter-spacing:0.02em;
    -webkit-transition:font-size .2s ease-out;
    transition:font-size .2s ease-out;
    overflow:hidden;
}

#main-nav{
    background:transparent;
    -webkit-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out;
}

#main-nav .navbar-toggle{
    color:#777;
    border-color:#777;
}

#main-nav .navbar-toggle .icon-bar{
    background:#777;
}

#main-nav .container{
    padding:15px 0;
    -webkit-transition:padding 0.3s ease-out;
    transition:padding 0.3s ease-out;
}

#main-nav.scrolled {
    background:#fff;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
}

#main-nav.scrolled .container{
    padding:0;
}

#main-nav .nav a{
    position:relative;
    z-index:1;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover{
    padding:0px 5px;
    font-size:15px;
    line-height:54px;
    font-weight:700;
    letter-spacing:0.01em;
    text-transform:uppercase;
    background:transparent;
    color:#fff;
}

#main-nav.scrolled .nav a{
    color:inherit;
}

#main-nav li{
    background:transparent;
    margin:0 20px;
    opacity:0.7;
    vertical-align:middle;
    -webkit-transition:opacity 0.2s ease-out;
    transition:opacity 0.2s ease-out;
}

#main-nav .nav li.active,
#main-nav .nav li:hover{
    opacity:1;
}
#main-nav .dropdown-menu a{
    font-size:14px;
}

#main-nav .nav a:before {
    display:block;
    position:absolute;
    bottom:0;
    left:25%;
    content:"";
    width:50%;
    height:3px;
    background:#fff;
    z-index:-1;
    opacity:0;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

#main-nav.scrolled .nav a:before {
    background:#3a3c4a;
}

#main-nav .nav a:hover:before,
#main-nav .nav .active a:before {
    bottom:10px;
    opacity:1;
}

.no-csstransforms #main-nav .nav a:before {
    display:none;
}

#main-nav #logo{
    opacity:1;
    vertical-align:middle;
}

#main-nav #logo h1{
    font-size:64px;
    font-weight:600;
    -webkit-transition:font-size 0.3s ease-out;
    transition:font-size 0.3s ease-out;
}

#main-nav #logo span{
    font-size:90%;
    position:relative;
    top:15px;
}

#main-nav.scrolled #logo h1{
    font-size:52px;
}

#main-nav .nav #logo a:before {
    display:none;
}

#main-nav.scrolled .nav #logo a:hover {
    color:#38A5DB;
    -webkit-transition:color .2s ease-out;
    transition:color .2s ease-out;
}

/*-----Header Styles-----*/
.jumbotron {
    background-color:#38A5DB;
    color:#fff;
    padding:0;
    margin-bottom:0;
    padding:180px 0 80px;
	overflow:hidden;
}

.jumbotron.bg-image {
    position: relative;
    background-image:url("header.jpg");
	background-position:50% 50%;
    background-size: cover;
}

.jumbotron.bg-image:before{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .4;
}

.jumbotron .text-col{
    margin-top:50px;
}

.jumbotron h1{
    font-weight:600;
    letter-spacing:0.02em;
    margin-bottom:10px;
	opacity:0;
	-webkit-transform:translateX(-1000px);
	transform:translateX(-1000px);
	-webkit-transition:opacity .5s ease-out .3s,-webkit-transform .5s ease-out .3s;
	transition:opacity .5s ease-out .3s,transform .5s ease-out .3s;
}

.jumbotron h1.in{
	opacity:1;
	-webkit-transform:translateX(0);
	transform:translateX(0);
}

.jumbotron p{
    font-size:32px;
    font-weight:400;
    letter-spacing:0.02em;
	opacity:0;
	-webkit-transform:translateY(1000px);
	transform:translateY(1000px);
	-webkit-transition:opacity .5s ease-out .8s,-webkit-transform .5s ease-out .8s;
	transition:opacity .5s ease-out .8s,transform .5s ease-out .8s;
}

.jumbotron p.in{
	opacity:1;
	-webkit-transform:translateY(0);
	transform:translateY(0);
}

.jumbotron .imac-frame {
    display:block;
    position:relative;
    width:100%;
    max-width:500px;
    margin:0 auto;
    overflow:hidden;
	opacity:0;
	-webkit-transform:translateX(1000px);
	transform:translateX(1000px);
	-webkit-transition:opacity .5s ease-out .6s,-webkit-transform .5s ease-out .6s;
	transition:opacity .5s ease-out .6s,transform .5s ease-out .6s;
}

.jumbotron .imac-frame.in {
	opacity:1;
	-webkit-transform:translateX(0);
	transform:translateX(0);
}

.jumbotron .imac-screen{
    background:transparent;
    display:block;
    position:absolute;
    top:6%;
    left:6%;
    width:88%;
	height:65%;
    overflow:hidden;
	opacity:1;
	-webkit-transition:opacity .3s ease-out;
	transition:opacity .3s ease-out;
}

.flexslider {
    margin:0;
    padding:0;
    background:transparent;
    border:none;
    box-shadow:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	z-index:1;
}

.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next{
    background:#38A5DB;
    background-image:none;
    display:inline;
    text-indent:0;
    position:absolute;
    top:50%;
    width:44px;
    height:44px;
    padding:0;
    padding-left:12px;
    margin:0;
    margin-top:-22px;
    font-size:42px;
    line-height:38px;
    color:#fff;
    text-align:left;
    border-radius:5px;
    -webkit-transition:all .2s ease-out;
    transition:all .2s ease-out;
}

.flex-direction-nav .flex-next{
    text-align:right;
    padding-right:12px;
}

.flex-direction-nav a:hover,
.flex-direction-nav a:active,
.flex-direction-nav a:focus{
    text-decoration:none;
}

.flex-direction-nav a:hover {
    background:#363B46;
}

.flex-direction-nav .flex-disabled {
    display:none;
}

.flexslider:hover .flex-next {opacity: 1; right: 5px;}
.flexslider:hover .flex-prev {opacity: 1; left: 5px;}

/*-----Services Styles-----*/
.services .item {
    text-align:center;
    margin-bottom:30px;
}

.services .item .icon{
    margin:0 auto 30px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.services .item h2{
    font-size:24px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.services .item:hover h2{
    color:#38A5DB;
}

.services .item:hover .icon{
    -webkit-transform:translateY(-10px);
    transform:translateY(-10px);
    -webkit-transition:-webkit-transform .4s ease-out;
    transition:transform .4s ease-out;
}

/*-----About Styles-----*/
#about .section-header{
    margin-bottom:40px;
}

#about img{
    margin-bottom:40px;
	border:15px solid transparent;
	box-shadow:5px 3px 0 rgba(255,255,255,.6);
}

#about p{
    font-size:21px;
    line-height:28px;
}

.skills {
    margin-top:60px;
}

.chart {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin:50px 0;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent {
    display: inline-block;
    line-height: 140px;
	font-size:38px;
	font-weight:300;
    z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 50%;
}

.skills h2 {
    margin:0 0 80px;
    font-family:'Titillium Web';
    font-size:24px;
    font-weight:400;
}

/*-----Portfolio Styles-----*/
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    /* border-radius: 20px; */
    background:#25CBF5  !important;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 36px !important;
    height: 5px !important;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background: #25CBF5 !important;
}

/*----Blog Styles----*/
#blog form .form-control{
    width:260px;
}
.blog-desc h3{
    margin-top:12px;
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
}
.blog-desc span{
    color:#777;
    font-size: 13px;
    display: block;
}
.blog-desc p{
    margin: 10px 0;
}
.item-img-wrap{
    position: relative;
    text-align: center;
    overflow: hidden;

}
.item-img-wrap img{
    -webkit-transition:all 200ms linear; 
    -moz-transition:all 200ms linear; 
    -o-transition:all 200ms linear; 
    -ms-transition:all 200ms linear; 
    transition:all 200ms linear; 
}
.item-img-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
}
.item-img-overlay span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("plus.png") no-repeat center center rgba(0, 0, 0, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}

.item-img-wrap:hover .item-img-overlay span{
    opacity: 1;
}
.item-img-wrap:hover img{
    -moz-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
}
/**cta-2**/
.cta-2{
    padding: 40px 0;
    background-color: #333;
}

/*---Scrolling animations---*/

.scrollimation.fade-in{
	opacity:0;
	-webkit-transition:opacity 0.6s ease-out;
	transition:opacity 0.6s ease-out;
}

.scrollimation.fade-in.in{
	opacity:1;
}

.scrollimation.scale-in{
	opacity:0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform:scale(0.5);
	-webkit-transition: -webkit-transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
	transition: transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
}

.scrollimation.scale-in.in{
	opacity:1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform:scale(1);
}

.scrollimation.fade-right{
	opacity:0;
	-webkit-transform: translateX(-100px);
	-moz-transform: translateX(-100px);
	-ms-transform: translateX(-100px);
	transform:translateX(-100px);
	-webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-out;
	transition: transform .4s ease-out,opacity .4s ease-out;
}

.scrollimation.fade-right.in{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.scrollimation.fade-left{
	opacity:0;
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform:translateX(100px);
	-webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-out;
	transition: transform .4s ease-out,opacity .4s ease-out;
}

.scrollimation.fade-left.in{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.scrollimation.fade-up{
	opacity:0;
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform:translateY(100px);
	-webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-in;
	transition: transform .4s ease-out,opacity .4s ease-in-out;
}

.scrollimation.fade-up.in{
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform:translateY(0px);
}

.scrollimation.d1{
	transition-delay:.2s;
}

.scrollimation.d2{
	transition-delay:.4s;
}

.scrollimation.d3{
	transition-delay:.6s;
}

.scrollimation.d4{
	transition-delay:.8s;
}

.touch .scrollimation.fade-in{
	opacity:1;
}

.touch .scrollimation.scale-in{
	opacity:1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform:scale(1);
}

.touch .scrollimation.fade-right{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.touch .scrollimation.fade-left{
	opacity:1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform:translateX(0px);
}

.touch .scrollimation.fade-up{
	opacity:1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform:translateY(0px);
}
.scrollToTop{
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    position:fixed;
    bottom:0px;
    right:0px;
    z-index: 999999;
    display:none;
    background: #25CBF5;
    opacity:0.5;
    transition: all 0.3s;
}
.scrollToTop:hover{
    text-decoration:none;
    opacity: 1;
    color:#fff;
}

/*-----Media Queries------*/
@media (max-width: 767px) {

    .navbar {
        padding:0 20px;
    }

    #main-nav {
        background:#fff;
        box-shadow:0 1px 2px rgba(0,0,0,0.1);
    }

	#main-nav .navbar-nav li {
		display:block;
        text-align:center;
	}

	#main-nav .nav a:before {
		display:none;
	}

	#main-nav .navbar-nav #logo{
		display:none;
	}

    #main-nav .nav a{
        color:inherit;
        transition:color .2s ease-out;
    }

	#main-nav .nav .active a,
	#main-nav .nav a:hover{
        color:#38A5DB;
    }

    .jumbotron .text-col{
        text-align:center;
        margin-bottom:30px;
        margin-top:0;
    }

    #main-footer [class*=row],
    #main-footer .text-right{
        text-align:center;
    }

    .section-header h1{
        font-size:38px;
    }
}

@media (min-width: 1200px) {
	.jumbotron {
		min-height:660px;
	}
}
