/*-----Presentation Styles------*/
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;

	h1, p {color: #fff}
}

.jumbotron.bg-image {
  position: relative;
  background-image:url(../assets/header.jpg);
	background-position:50% 50%;
  background-size: cover;
}

.jumbotron.bg-image:before{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .4;
}

/*-----Services Styles-----*/
.services .item {
  text-align:center;
  margin-bottom:30px;
}

.services .item .icon{
  margin:0 auto 30px;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.services .item h2{
  font-size:24px;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.services .item:hover h2{
  color:#38A5DB;
}

.services .item:hover .icon{
  -webkit-transform:translateY(-10px);
  transform:translateY(-10px);
  -webkit-transition:-webkit-transform .4s ease-out;
  transition:transform .4s ease-out;
}

/*-----About Styles-----*/
#about .section-header{
  margin-bottom:40px;
}

#about img{
  margin-bottom:40px;
	border:15px solid transparent;
	box-shadow:5px 3px 0 rgba(255,255,255,.6);
}

#about p{
  font-size:21px;
  line-height:28px;
}

/*-----Contact Styles-----*/
.contact-textarea {
	min-width: 100%;
}

/*-----Portfolio Styles-----*/
#work-carousel{
  .carousel-indicators li {
    background-color: gray;
    border: none;
  }

	.carousel-indicators {
			position: relative;
			bottom: 0;
			left: 50%;
			z-index: 15;
			width: 60%;
			top: 10px;
			padding-left: 0;
			margin-left: -30%;
			text-align: center;
			list-style: none;
	}

	.carousel-indicators li {
			display: inline-block;
			zoom: 1;
			width: 10px;
			height: 10px;
			margin: 0 2px;
			background: transparent;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			border: 3px solid transparent;
			-webkit-box-shadow: rgba(0,0,0,0.5) 0 0 2px;
			-moz-box-shadow: rgba(0,0,0,0.5) 0 0 2px;
			box-shadow: rgba(0,0,0,0.5) 0 0 2px;
			cursor: pointer;
	}

	.carousel-indicators .active {
			width: 10px;
			height: 10px;
			margin: 0;
			background-color: #000000;
	}

	.carousel-indicators {
			bottom: .0;
	}
}
